

#imgAtitle{
  display: flex;
  align-items: center;
  
  font-weight: bold;
  background-color: #343a40;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
}

#nav{
  font-weight: bold;
  background-color: #343a40;
  /* opacity: 70%; */
  /* height: 50px; */
  /* border: rgba(0, 255, 128, 0.418) 2px solid; */
  /* display: ; */
  height: 100px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 3px; */

}
a {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   text-decoration: none;
   color: white;
   
   
}



.enter {
   height: 10%;
   width: 15%;
   background-color:#00d1b2 ;
   border: solid rgba(0, 0, 0, 0.144) 0.2px;
   border-radius: 4px;
   font-size: 1.5em;
   flex-wrap: wrap;
   margin: 1px;
   
}

.enter:hover {
  border-color: #f1ff5c;
  
  box-shadow: 0em 0.5em 0.5em -0.4em #f1ff5c;
  /* transform:translateY(0.25em)； */
  transform:translate3d(0.25em);
}
.butt{
  margin: 1.2%;
  font-size: 1.3em;
}
#title{
  font-size: 1.8em;
  margin-right: 12%;
  margin-left: 3%;
}
.butt:hover {
  
  color: rgb(224, 43, 73);
  box-shadow: 0em 0.5em 0.5em -0.4em #e0c218;
  /* transform:translateY(0.25em)； */
  transform:translate3d(0.25em);
}


#BJ {
  opacity: 89%;


  text-align: center;
}

#img {
  
  width: 1300px;
  height: 800px;
  /* margin: 10px; */
}

#content {
  background-color: #444444;
  
  height: 20px;
  margin-left: 0px;
  margin-top: -7px;
  padding: 0px;
  width: 100%;
}
.button {
  
  background-color: rgba(243, 240, 255, 0.068);
  color: #d119c8;
  border: 2px solid;
  /* border-bottom-right-radius: 50%; */
  padding: 0.8em 1.6em;
  font-size: 3em;
  transition:color 0.1s, border-color 0.2s;
  
}
#question{
  background-color:#343a40 ;
  
}
#question p{
  font-size: 35px;
  display: flex;
  justify-content: center;
  
 color: blueviolet;
}
#innerBox{
  display: flex;justify-content: center;
  justify-content: space-around;
  margin: 10px;
}
button:hover {
  border-color: #d47a12;
  color: rgba(203, 222, 230, 0.966);
  box-shadow: 0em 0.5em 0.5em -0.4em #f1ff5c;
  /* transform:translateY(0.25em)； */
  transform:translate3d(0.25em);


}

#v1{
  margin-top: 2%;
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}
.intro{
  font-size: 1.4em;
  font-weight: 500;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 30%;
  padding-right: 20px;
}
#v2{
  margin-top: 20px;
  background-color: #343a40;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}